include LICENSE
include README.rst
include CHANGES.rst
include pyproject.toml

include lfdfiles/py.typed

include tests/test_lfdfiles.py
include docs/conf.py
include docs/index.rst
include docs/_static/custom.css

exclude *.cmd
exclude *.yaml
recursive-exclude doc *
recursive-exclude docs *
recursive-exclude test *
recursive-exclude tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *Copy*
recursive-exclude * *-
recursive-exclude * *.html
