include LICENSE
include README.rst
include CHANGES.rst

include lfdfiles/_lfdfiles.c
include lfdfiles/_lfdfiles.pyx

exclude tests/*.*

include tests/test_lfdfiles.py
include docs/conf.py
include docs/index.rst
include docs/_static/custom.css

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *-
recursive-exclude * *.html
