name: Build wheels

on:
  workflow_dispatch:

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, macos-13, windows-2019]
    steps:
      - uses: actions/checkout@v4
      - uses: pypa/cibuildwheel@v2.23.3
        env:
          MACOSX_DEPLOYMENT_TARGET: "11.0"
          # CIBW_ENVIRONMENT: "PIP_PRE=1"
          CIBW_BUILD_VERBOSITY: 3
          CIBW_SKIP: "pp* cp37* cp38* cp39* *musllinux* *i686 *ppc64le *s390x cp39*win*arm64 cp310*win*arm64"
          CIBW_BEFORE_ALL_MACOS: curl -O https://mac.r-project.org/openmp/openmp-14.0.6-darwin20-Release.tar.gz && sudo tar fvxz openmp-14.0.6-darwin20-Release.tar.gz -C /
          CIBW_ARCHS_LINUX: auto
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_WINDOWS: AMD64 ARM64 x86
          CIBW_TEST_REQUIRES: numpy tifffile
          CIBW_TEST_COMMAND: python -c "import lfdfiles;from lfdfiles import _lfdfiles;print(lfdfiles.__version__)"
      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl
          name: wheels-${{ matrix.os }}
